@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200 text-slate-950;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-sm;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.h1 {
  @apply text-2xl font-semibold;
}

.h2 {
  @apply text-xl font-semibold;
}

.h3 {
  @apply text-lg font-semibold;
}

.label {
  @apply block pl-0 py-0 mb-1 text-sm font-medium;
}

.input {
  @apply px-4 h-10 border border-gray-300 rounded-md bg-white shadow-sm text-sm font-medium disabled:bg-white disabled:border-gray-300 disabled:opacity-50;
}
